*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
   max-width: 100vw;
    
}
body{
    background: linear-gradient(100deg,palevioletred,blueviolet);
   
}
.app{
    max-width: 90%;
    max-width: 700px;
    background-color: #fff;
    margin: 100px auto 10px;
    padding: 30px;
    border-radius: 14px;
 
}

.app h1{
    padding-bottom: 14px;
    font-size: 38px;
}


.quiz h2{
    padding: 18px 0;
    font-size: 25px;
}
#ans-btns{
    margin: 12px 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    
}
.btn{
   width: 100%;
   outline: none;
   border-radius: 10px;
   padding: 16px  0;
   border: none;
   border: 1px solid #555;
   background: transparent;
      cursor: pointer;
      transition: all  0.3s ease-in-out;
      font-size: 17px;
}
.btn:hover:not([disabled]){
    background-color: black;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    margin: 34px auto 0;
    padding: 18px 80px;
    background-color: purple;
    color: #fff;
    font-size: 16px;
    border-radius: 12px;
    border: none;
  cursor: pointer;
  font-weight: 600;
}
#next-btn:hover{
    opacity: 0.8;
}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}